<%= render 'layouts/navbar' %>
<div class="container" id="home-page">
  <div id="search-title">Search Results for <%= @search %></div>

  <div class="row">
    <div class="col m10 offset-m1" id="collapsed-list">
      <ul class="collapsible popout hoverable" data-collapsible="accordion">
        <% @episodes.each do |episode| %>
          <li>
            <div class="collapsible-header">
              <div class="row" id="row-head">
                <div class="col m1">
                  <% if episode.image_urls.to_a.empty? == false  %>
                    <img src="<%= episode.image_urls.thumb %>", alt="", id="episode-photo">
                  <% else %>
                    <i class="material-icons red" id="episode-photo">radio</i>
                  <% end %>
                </div>
                <div class="col m10">
                  <div class="show-title truncate"><%= episode.title %></div>
                  <div id="show-network"><%= link_to "#{episode.show_title}",
                       show_path(episode.show_id) %>
                       <% if episode.network %>
                         <%= "from #{episode.network}" %>
                       <% end %>
                  </div>
                  <div id="episode-timing"><%= episode.date_created %> |
                       <%= Time.at(episode.duration).utc.strftime("%H:%M:%S") %></div>
                </div>
                <div class="col m1">
                  <div id="add-to-playlist">
                    <a class="modal-trigger" href="#modal-<%= episode.id %>">
                        <i class="material-icons">playlist_add</i></a>
                    <%= render partial: "layouts/add_to_playlist_modal",
                               locals: {episode: episode} %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <p><%= episode.description %></p>
              <p>
                Categories: <% episode.categories.each do |category| %>
                              <%= category.name %>
                            <% end %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.collapsible').collapsible({
    accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
  });
  $('#add-to-playlist').unbind();
  $('.modal-trigger').leanModal();
});
</script>
