<div class="row card-lines">
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("ted.jpg"), show_path("355"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("radio-lab.jpg"), show_path("13"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("reply-all.jpg"), show_path("42"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("serial.jpg"), show_path("15"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("this-american.jpg"), show_path("27"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("freakonomics.jpg"), show_path("353"), class: "activator" %>
      </div>
    </div>
  </div>
</div>
<div class="row card-lines">
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("startup.jpg"), show_path("22"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("moth.jpg"), show_path("58"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("invisibilia.jpg"), show_path("359"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("onbeing.jpg"), show_path("339"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("kcrw.jpg"), show_path("50"), class: "activator" %>
      </div>
    </div>
  </div>
  <div class="col m2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light front-card">
        <%= link_to image_tag("deathsex.jpg"), show_path("385"), class: "activator" %>
      </div>
    </div>
  </div>
</div>
