<body id="welcome">
  <div class="row">
    <div class="col s4 offset-s4 z-depth-5" id="front-page">
      <%= image_tag "micophone.svg", class: "circle z-depth-2", id: "microphone" %>
      <h1 id="logo">PodList</h1>
      <p class="lead">podcast playlists made simple</p>
      <% if current_user %>
        <h4 id="user-name"><%= current_user.name %></h4>
        <div class="col m6">
          <%= link_to "ENTER", home_path, class: "btn btn-lg btn-default btn-block btn-primary front-button" %>
        </div>
        <div class="col m6">
          <%= link_to "LOGOUT", logout_path, method: :delete, class: "btn btn-lg btn-default btn-block btn-primary front-button" %>
        </div>
      <% else %>
        <div class="col s10 offset-s1">
          <%= link_to "LOGIN", login_path, class: "btn btn-lg btn-default btn-block btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
