
<%= render 'layouts/navbar' %>
<div class="container" id="home-page">
  <div class="row">
    <div class="col m10 offset-m1">
      <div class="card">
        <div class="card-content row">
          <div class="col m4">
            <%= image_tag "#{@show.image_files.first.url.full}", id: "show-image-main" %>
          </div>
          <div class="col m8">
            <div id="show-title"><%= @show.title %></div>
            <div><%= @show.description %></div>
            <div><h6>Number of episodes: <%= @show.number_of_episodes %></h6></div>
            <% if @show.web_profiles.to_a.empty? == false %>
              <div><%= link_to "Facebook", @show.web_profiles.facebook.url %>
                   <%= link_to "Twitter", @show.web_profiles.twitter.url %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m10 offset-m1" id="collapsed-list">
      <ul class="collapsible popout" data-collapsible="accordion">
        <% @show.episode_ids.first(5).each do |episode| %>
          <li>
            <div class="collapsible-header">
              <% if episode_info(episode).image_files.to_a.empty? == false  %>
                <img src="<%= episode_info(episode).image_files.first.url.thumb %>", alt="", class="circle", id="episode-photo">
              <% else %>
                <i class="material-icons circle red">radio</i>
              <% end %>
              <span class="title"><%= episode_info(episode).title %></span>
            </div>
            <div class="collapsible-body">
              <p><%= episode_info(episode).description %><br>
               <%= episode_info(episode).audio_files %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.collapsible').collapsible({
    accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
  });
});
</script>
